@tailwind base;
@tailwind components;
@tailwind utilities;

/* ./src/customStyles.css */
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
